<div class="container py-5" th:fragment="apartmentCreate">
    <h1>Create Apartment</h1>
    <form action="/apartment/create" method="post" class="mb-3">
        <div class="mb-3">
            <label class="form-label" for="addressInput">Address</label>
            <input type="text" name="address" placeholder="Address" id="addressInput" class="form-control" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="landlordInput">Landlord</label>
            <select name="landlordId" id="landlordInput" class="form-select" required>
                <!--/*@thymesVar id="landlords" type="me.bnnq.homework.Models.Landlord[]"*/-->
                <option th:each="landlord : ${landlords}" th:value="${landlord.getId()}" th:text="${landlord.getFirstName()} + ' ' + ${landlord.getLastName()}"></option>
            </select>
        </div>
        <input type="submit" value="Create" class="btn btn-primary w-100">
    </form>
</div>